$theme-colors: (
  "primary": #416de7
);

@import '~bootstrap/scss/bootstrap.scss';

body {
  background-color: #f1f1f3;
}

html, body, #root {
  height: 100%;
}

.btn {
  border-radius: 10px;
}

.modal-content {
  border: 0;
  padding: 10px;
  border-radius: 10px;
}

input, .form-control {
  background-color: #eaedf6;
  border: 0;
  padding: 6px 14px;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  border: 0;
}

@media (max-width: 767px) {
  .btn-xs-block {
      display: block;
      width: 100%;
  }
  input[type="submit"].btn-xs-block,
  input[type="reset"].btn-xs-block,
  input[type="button"].btn-xs-block {
      width: 100%;
  }
  .btn-block + .btn-xs-block,
  .btn-xs-block + .btn-block,
  .btn-xs-block + .btn-xs-block {
      margin-top: 0.5rem;
  }
}